body {
  background-color: #383838;
  color: #fff;
}
.TodoList h2 {
  text-align: center;
}
p.TodoList {
  text-align: center;
}
.taskBg {
  background-color: rgb(255, 255, 255);
  color: rgb(73, 73, 73);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  border: 1px solid rgb(73, 73, 73);
}

.taskBg div {
  display: flex;
  align-items: center;
}
.taskBg .taskText {
  flex: 1;
}
.taskBg .done .taskText {
  text-decoration: line-through;
  color: red;
  opacity: 0.3;
}

.taskNumber {
  color: rgb(73, 73, 73);
  border: 1px solid rgb(73, 73, 73);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.iconsWrap {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
}
.iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: #00ff89;
}
.iconsWrap span:hover {
  color: yellow;
}
.mr-20 {
  margin-right: 20px;
}
ul .ulTodo li {
  overflow: hidden;
  display: none;
}
li {
  display: none;
}
